<h1>Lista de productos en tiempo real</h1>
<ul id="product-list">
  {{#each products}}
    <li>{{this}}</li>
  {{/each}}
</ul>

<form id="product-form">
  <input type="text" id="product-name" placeholder="Nombre del producto">
  <button type="submit">Agregar producto</button>
</form>

<script src="/socket.io/socket.io.js"></script>
<script>
  const socket = io();

  
  socket.on('products', (products) => {
    const productList = document.getElementById('product-list');
    productList.innerHTML = '';

    products.forEach((product) => {
      const listItem = document.createElement('li');
      listItem.textContent = product;
      productList.appendChild(listItem);
    });
  });

 
  const productForm = document.getElementById('product-form');
  const productName = document.getElementById('product-name');

  productForm.addEventListener('submit', (event) => {
    event.preventDefault();

    const newProduct = productName.value;
    socket.emit('addProduct', newProduct);

    productName.value = '';
  });
</script>
